<div class="panel">
  <h1>Receive Data</h1>
  <p class="lead">
    Current listeners: <b>{{currentListeners || 1}}</b>
  </p>
</div>
<div class="row">
  <div class="col-md-6">
    <p> To receive data an application needs to have a url enabled that receives a POST.
    </p>
    <p> The code in this application implements Socket.IO to show real time data received.
    </p>
    <p> To view data you must have this view open while using a connected Activity or sending test POST requests.
    </p>
    <p> This data is temporary unless the receiver stores it. If you want to request searchable data use the PULL service.
    </p>
  </div>
  <div class="col-md-6">
    <pre>
      <code>
// sample message body 
{
    // for security
    "token": "f7e1379c-35ad-45f9-b0fa-6ef011e73938",
    // user activity
    "firstName": "John",
    "lastName": "Doe",
    "email": "johndoe@fakeemail.com",
    "memberIdentifier": "12345",
    "activityTitle": "Activity Sample",
    "registration": "f53f253f-248b-4bfa-a94b-55cac283765b",
    "dateStarted": "2017-05-11T12:00:50.279Z",
    "progress": "100",
    "dateCompleted": "2017-05-16T12:00:50.000Z",
    "completionCode": "Fake Code"
  }
      </code>
    </pre>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table st-table="rowCollection" class="table table-striped" st-safe-src="safe">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Member Identifier</th>
          <th>Activity Title</th>
          <th>Registration</th>
          <th>Date Started</th>
          <th>Progress</th>
          <th>Date Completed</th>
          <th>Completion Code</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in rowCollection">
          <td>{{row.firstName}} </td>
          <td>{{row.lastName}} </td>
          <td>{{row.email}} </td>
          <td>{{row.memberIdentifier}} </td>
          <td>{{row.activityTitle}} </td>
          <td>{{row.registration}} </td>
          <td>{{row.dateStarted | date:'shortDate'}} </td>
          <td>{{row.progress}} </td>
          <td>{{row.dateCompleted | date:'shortDate'}} </td>
          <td>{{row.completionCode}} </td>
        </tr>
      </tbody>
      <tfoot class="ssm-table-pagination" ng-show="!isLoading && rowCollection.length">
        <tr ng-style="rowCollection.length<11 ? {'height': '0', 'margin-top':'-1px'} : {}">
          <td colspan="4" class="text-center" ng-style="rowCollection.length<11 ? {'height': '0', 'min-height':'none'} : {}">
            <div st-pagination st-safe-src="safe" st-items-by-page="10" st-displayed-pages="8" st-template="views/paging.client.template.html"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>